/* 공통 스타일 */
.ear-talk-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDDA44; /* 배경색 통일 */
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.ear-talk-main {
  background-color: #fff;
  width: 100%;
  height: calc(100% - 18%); /* 헤더를 제외한 높이 */
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.text-area {
  margin-top: 25px;
  width: 95%;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  resize: none; /* 크기 조정 불가 */
}

.convert-button {
  background-color: #ddd;
  border: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100px;
  height: 50px;
  transition: background-color 0.3s ease;
  margin-right: 90%;
  position: relative;
  top: -30px; /* 기본 위치 */
}

.convert-button:hover {
  background-color: #ccc; /* 호버 시 색상 변경 */
}

/* 로그인 상태에서 convert-button 위치 조정 */
.convert-button.logged-in {
  background-color: #ddd;
  border: 9px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 100px;
  height: 60px;
  transition: background-color 0.3s ease;
  margin-right: 80%;
  margin-top: 3.5%;
  position: relative;
  right: 60px;
}

.record-button {
  width: 90px;
  height: 95px;
  background-color: #FDDA44; /* 배경색 통일 */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  font-size: 36px; /* 아이콘 크기 증가 */
  margin-bottom: 10px; 
  position: relative;
  top: -50px; /* 버튼을 위로 이동 */
}

.record-button.recording {
  background-color: #ff4d4d; 
  animation: blink 1s infinite; /* 깜빡이는 효과 */
}

.record-button.logged-in {
  width: 95px;
  height: 107px;
  background-color: #FDDA44; /* 배경색 통일 */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  font-size: 36px; /* 아이콘 크기 증가 */
  margin-bottom: 10px; 
  position: relative;
  top: -70px; /* 버튼을 위로 이동 */
}

@keyframes blink {
  0%, 100% {
    background-color: #ff4d4d;
  }
  50% {
    background-color: #ff9999;
  }
}

.icon-container {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  top: 520px;
}

/* 로그인 상태에서 icon-container 위치 조정 */
.icon-container.logged-in {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  top: 500px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #333;
  margin-left: 10px;
}

.icon-button:first-child {
  margin-left: 0;
}

.icon-button:focus {
  outline: none;
}

.recording-alert {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FDDA44; /* 배경색 통일 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 18px;
}

.finish-recording-button {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.finish-recording-button:hover {
  background-color: #45a049;
}

.alert-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #FDDA44; /* 배경색 통일 */
  border-radius: 5px;
  color: #000;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 이벤트 팝업 스타일 */
.finish-recording-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FDDA44; /* 배경색 통일 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: #333;
}

/* 반응형 웹 디자인 */
@media only screen and (max-width: 768px) {
  .ear-talk-main {
    width: 100%;
    height: 510px;
  }

  .text-area {
    height: 350px;
    width: 90%;
  }
  
  .convert-button {
    top: -10px;
    left: 30px;
    font-size: 16px;
    width: 80px;
    height: 45px;
  }

  .convert-button.convert-button.logged-in {
    top: -10px;
    left: 0px;
    font-size: 16px;
    width: 80px;
    height: 45px;
  }

  .record-button {
    width: 80px;
    height: 85px;
    font-size: 30px;
    top: -45px;
  }

  .record-button.logged-in {
    width: 70px;
    height: 75px;
    font-size: 30px;
    top: -45px;
  }

  .icon-container {
    right: 35px;
    bottom: 75px;
    top: 340px;  }

  .icon-container.logged-in {
    bottom: 75px;
    top: 340px;
  }

  .icon-button {
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) {
  .ear-talk-main {
    width: 100%;
    height: 500px;
  }

  .text-area {
    height: 300px;
    width: 85%;
  }

  .convert-button {
    top: 0px;
    left: 30px;
    font-size: 16px;
    width: 80px;
    height: 40px;
  }

  .convert-button.convert-button.logged-in {
    top: 0px;
    left: 20px;
    font-size: 16px;
    width: 80px;
    height: 40px;
  }

  .record-button {
    width: 60px;
    height: 65px;
    font-size: 24px;
    top: -35px;
  }

  .record-button.logged-in {
    width: 70px;
    height: 75px;
    font-size: 30px;
    top: -45px;
  }

  .icon-container {
    bottom: 75px;
    top: 380px;
    right: 30px;
  }

  .icon-container.logged-in {
    bottom: 75px;
    top: 320px;
  }

  .icon-button {
    font-size: 20px;
  }
}