.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fdda44;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 100px;
  height: auto;
  margin-bottom: 10px; /* 로고 이미지와 텍스트 사이 간격 */
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.join-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.join-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.join-button {
  background-color: #6b6b6b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
}