.privacy-policy-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.privacy-policy-modal {
  background: #fff;
  width: 90%;
  max-width: 500px;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px; /* 패딩 조정 */
}

.privacy-policy-header {
  padding: 10px; /* 상하 패딩 조정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-size: 16px; /* 폰트 크기 조정 */
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px; /* 닫기 버튼 크기 */
  cursor: pointer;
}

.privacy-policy-body {
  padding: 10px;
  overflow-y: auto;
  font-size: 14px; /* 본문 폰트 크기 */
  line-height: 1.5;
  margin-left: 15px; /* 왼쪽 여백 */
}

.privacy-policy-body li {
  list-style-position: outside;
  text-indent: -10px; /* 번호와 글 간격 */
  margin-left: 15px; /* 번호 위치 */
  line-height: 1.6; /* 줄 간격 */
}

@media only screen and (max-width: 480px) {
  .privacy-policy-modal {
    width: 95%; /* 모달 너비 조정 */
    height: 75vh; /* 높이 조정 */
    border-radius: 8px; /* 모바일에서 모서리 조정 */
    padding: 10px; /* 패딩 축소 */
  }

  .privacy-policy-header {
    padding: 8px; /* 상하 패딩 축소 */
    font-size: 14px; /* 헤더 폰트 크기 축소 */
  }

  .close-button {
    font-size: 14px; /* 닫기 버튼 크기 조정 */
  }

  .privacy-policy-body {
    font-size: 12px; /* 본문 폰트 크기 축소 */
    line-height: 1.4; /* 줄 간격 축소 */
    padding: 8px; /* 본문 패딩 축소 */
    margin-left: 10px; /* 본문 왼쪽 여백 축소 */
  }

  .privacy-policy-body li {
    text-indent: -12px; /* 번호와 글 간격 축소 */
    margin-left: 12px; /* 번호 위치 조정 */
    line-height: 1.5; /* 줄 간격 조정 */
  }
}
