.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fdda44;
  min-height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  width: 100%; /* 전체 화면 너비로 설정 */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.logo-image {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.logo-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.reset-password-title {
  font-size: 20px; /* 글자 크기 줄임 */
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* 폼 너비를 화면의 90%로 설정 */
  max-width: 400px; /* 최대 너비를 400px로 제한 */
}

.reset-password-input {
  padding: 15px; /* 입력 필드 내부 패딩을 넓게 설정 */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* 입력 필드가 폼의 전체 너비를 차지하도록 설정 */
  box-sizing: border-box;
}

.reset-password-button {
  background-color: #6b6b6b;
  color: white;
  padding: 15px; /* 버튼 내부 패딩을 넓게 설정 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* 버튼이 폼의 전체 너비를 차지하도록 설정 */
  box-sizing: border-box;
  margin-top: 10px;
}

.reset-password-button:hover {
  background-color: #555555;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
